[run]
source = my_menu_api
omit = 
    */tests/*
    */conftest.py
    */__pycache__/*
    */venv/*
    */env/*
    setup.py
    */migrations/*

[report]
# Regras de relatório
show_missing = True
skip_covered = False
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov
title = FastAPI Menu API Coverage Report

[xml]
output = coverage.xml
